@font-face {
  font-family: "7th-saga";
  src: url("https://joehiyo.github.io/Twitch/7th-saga.ttf");
}

@font-face {
  font-family: "7th-saga-vwf";
  src: url("https://joehiyo.github.io/Twitch/7th-saga-vwf.ttf");
}

@font-face {
  font-family: "7th-saga-menu";
  src: url("https://joehiyo.github.io/Twitch/7th-saga-menu.ttf");
}

@font-face {
  font-family: "dragon-warrior";
  src: url("https://joehiyo.github.io/Twitch/dragon-warrior.ttf");
}

@font-face {
  font-family: "Earthbound Dialogue";
  src: url("https://joehiyo.github.io/Twitch/earthbound-dialogue.ttf")
}

@font-face {
  font-family: "ffgba";
  src: url("https://joehiyo.github.io/Twitch/ffgba.ttf")
}

@font-face {
  font-family: "final-fantasy-1";
  src: url("https://joehiyo.github.io/Twitch/final-fantasy-1.ttf")
}

@font-face {
  font-family: "final-fantasy-2";
  src: url("https://joehiyo.github.io/Twitch/final-fantasy-2.ttf")
}

@font-face {
  font-family: "ff6-1x";
  src: url("https://joehiyo.github.io/Twitch/ff6-1x.ttf")
}

@font-face {
  font-family: "final-fantasy-7";
  src: url("https://joehiyo.github.io/Twitch/final-fantasy-7.ttf")
}

@font-face {
  font-family: "final-fantasy-mq";
  src: url("https://joehiyo.github.io/Twitch/final-fantasy-mq.ttf")
}

@font-face {
  font-family: "joehiyo";
  src: url("https://joehiyo.github.io/Twitch/joehiyo.ttf")
}

@font-face {
  font-family: "joehiyo-vwf";
  src: url("https://joehiyo.github.io/Twitch/joehiyo-vwf.ttf")
}

@font-face {
  font-family: "lttp";
  src: url("https://joehiyo.github.io/Twitch/lttp.ttf")
}

@font-face {
  font-family: "mario-rpg";
  src: url("https://joehiyo.github.io/Twitch/mario-rpg.ttf")
}

@font-face {
  font-family: "megaman-x";
  src: url("https://joehiyo.github.io/Twitch/megaman-x.ttf")
}

@font-face {
  font-family: "pilotwings";
  src: url("https://joehiyo.github.io/Twitch/pilotwings.ttf")
}

@font-face {
  font-family: "pokemon-gen1";
  src: url("https://joehiyo.github.io/Twitch/pokemon-gen1.ttf")
}

@font-face {
  font-family: "paladins-quest";
  src: url("https://joehiyo.github.io/Twitch/paladins-quest.ttf")
}

@font-face {
  font-family: "seiken-densetsu-3";
  src: url("https://joehiyo.github.io/Twitch/seiken-densetsu-3.ttf")
}

@font-face {
  font-family: "shining-force-1";
  src: url("https://joehiyo.github.io/Twitch/shining-force-1.ttf")
}

@font-face {
  font-family: "secret-of-mana";
  src: url("https://joehiyo.github.io/Twitch/secret-of-mana.ttf")
}

@font-face {
  font-family: "shadowrun";
  src: url("https://joehiyo.github.io/Twitch/shadowrun.ttf")
}

@font-face {
  font-family: "star-ocean";
  src: url("https://joehiyo.github.io/Twitch/star-ocean.ttf")
}

@font-face {
  font-family: "star-ocean-8x8";
  src: url("https://joehiyo.github.io/Twitch/star-ocean-8x8.ttf")
}

@font-face {
  font-family: "tenchi-rpg";
  src: url("https://joehiyo.github.io/Twitch/tenchi-rpg.ttf")
}

@font-face {
  font-family: "terranigma";
  src: url("https://joehiyo.github.io/Twitch/terranigma-vwf.ttf")
}

body {
  background-color: #077;
  color: #fff;
  text-shadow: 2px 0px #000, 0px 2px #000, 2px 2px #000;
}

td:not([class]) {
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  padding-right: 10px;
}

.the7thsaga {
  font-family: "7th-saga";
  font-size: 28px;
  line-height: 36px;
  text-shadow:
    2px 0px #000,
  	-2px 0px #000,
    0px 2px #000,
    0px -2px #000;
}

.the7thsagavwf, .the7thsaga-vwf {
  font-family: "7th-saga-vwf";
  font-size: 28px;
  line-height: 36px;
  text-shadow:
    2px 0px #000,
  	-2px 0px #000,
    0px 2px #000,
    0px -2px #000;
}

.the7thsagamenu, .the7thsaga-menu {
  font-family: "7th-saga-menu";
  font-size: 16px;
  line-height: 24px;
}

.dw {
  font-family: "dragon-warrior";
  font-size: 16px;
  line-height: 32px;
}

.eb {
  font-family: "Earthbound Dialogue";
  font-size: 22px;
  line-height: 30px;
}

.ffgba {
  font-family: "ffgba";
  font-size: 22px;
  line-height: 30px;
}

.ff1 {
  font-family: "final-fantasy-1";
  font-size: 14px;
  line-height: 22px;
}

.ff2 {
  font-family: "final-fantasy-2";
  font-size: 16px;
  line-height: 24px;
}

.ff6 {
  font-family: "ff6-1x";
  font-size: 22px;
  line-height: 30px;
}

.ff7 {
  font-family: "final-fantasy-7";
  font-size: 20px;
  line-height: 28px;
}

.ffmq {
  font-family: "final-fantasy-mq";
  font-size: 20px;
  line-height: 28px;
}

.joehiyo {
  font-family: "lennus-eng";
  font-size: 16px;
  line-height: 24px;
}

.lttp {
  font-family: "lttp";
  font-size: 26px;
  line-height: 34px;
}

.mariorpg {
  font-family: "mario-rpg";
  font-size: 24px;
  line-height: 32px;
  text-shadow:
      2px 0px #000,
      -2px 0px #000,
      0px 2px #000,
      0px -2px #000;
}

.mmx {
  font-family: "megaman-x";
  font-size: 16px;
  line-height: 24px;
}

.pilotwings {
  font-family: "pilotwings";
  font-size: 28px;
  line-height: 32px;
}

.pkmn {
  font-family: "pokemon-gen1";
  font-size: 16px;
  line-height: 24px;
}

.pq {
  font-family: "paladins-quest";
  font-size: 26px;
  line-height: 34px;
}

.sd3 {
  font-family: "seiken-densetsu-3";
  font-size: 26px;
  line-height: 34px;
}

.sf1 {
  font-family: "shining-force-1";
  font-size: 28px;
  line-height: 36px;
}

.som {
  font-family: "secret-of-mana";
  font-size: 24px;
  line-height: 32px;
}

.shadowrun {
  font-family: "shadowrun";
  font-size: 16px;
  line-height: 24px;
}

.so1, .top {
  font-family: "star-ocean";
  font-size: 22px;
  line-height: 30px;
  text-shadow:
    2px 0px #000,
  	-2px 0px #000,
    0px 2px #000,
    0px -2px #000;
}

.so1menu {
  font-family: "star-ocean-8x8";
  font-size: 16px;
  line-height: 24px;
}

.tenchi {
  font-family: "tenchi-rpg";
  font-size: 20px;
  line-height: 32px;
}

.terranigma {
  font-family: "terranigma";
  font-size: 30px;
  line-height: 38px;
}
